<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trydev.games.adeklita">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.trydev.games.adeklita.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.trydev.games.adeklita.GameActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.trydev.games.adeklita.CategoryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.trydev.games.adeklita.FinalActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.trydev.games.adeklita.InstructionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.trydev.games.adeklita.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.trydev.games.adeklita.MenuActivity"
            android:label="Adek Lita" />
        <activity
            android:name="com.trydev.games.adeklita.MenuBalitaActivity"
            android:label="Adek Lita" />
        <activity
            android:name="com.trydev.games.adeklita.ArticleBalitaActivity"
            android:label="Article Adek Lita" />
        <activity
            android:name="com.trydev.games.adeklita.ArticleOrtuActivity"
            android:label="Article Adek Lita" />
        <activity
            android:name="com.trydev.games.adeklita.HitungActivity"
            android:label="Hitung Berat Badan Ideal"
            android:parentActivityName="com.trydev.games.adeklita.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.trydev.games.adeklita.MainActivity" />
        </activity>
        <activity
            android:name="com.trydev.games.adeklita.HasilActivity"
            android:label="Hasil BMI"
            android:launchMode="singleTask"
            android:parentActivityName="com.trydev.games.adeklita.HitungActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.trydev.games.adeklita.HitungActivity" />
        </activity>

        <service
            android:name="com.trydev.games.adeklita.Service.MediaService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.trydev.games.adeklita.ActivityListData"></activity>
    </application>

</manifest>